@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom! </h1>
    <h2>Jouw tool voor het delen van kennis is gearriveerd. 🎁</h2>
    <p>Maak eenvoudig links aan en leid je studenten direct naar de juiste bronnen. <br> Gebruik het menu links: Trainer
        is waar je links creëert, en Alle Links toont je overzicht.<br> Less is more, behalve als het om leren gaat!</p>
</div>
